@keyframes checkmenu {
    0%{
        margin-right: -50px;
    }
    20%{
        margin-right: -30px;
    }
    40%{
        margin-right: -20px;
    }
    90%{
        margin-right: -5px;
    }
    100%{
        margin-right: 0px;
    }
}

@keyframes cardmenu-tag {
    0%{transform: translateX(-200%)}
    100%{transform: translateX(0%)}
}

//********* Mixin slidein*************************************************************************************
//Animation d'entrée des plats en slidein depuis la gauche
//Params :
//- $nb_elem [optionnal : default -> 10] : Nombre d'éléments qui définit les nom de classe à chaque itération
//- $delay [optionnal : default -> 0] : valeur de la propriété animation-delay
//- $unit [optionnal : default -> s] : unité de la valeur précédente
//*************************************************************************************************************
@mixin slidein ($nb_elem: 10, $delay: 0, $unit: s){
    @for $i from 1 to $nb_elem {
        &--#{$i}{
            animation: 1s ease-out calc($delay + ($i / 10))+$unit both cardmenu-tag;
        }
    }  
}

.section__container__menu{    
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-color-light-grey;
    &__container{
        width: 100%;
        position: relative;
        &__img{
            width: 100%;
            height: 275px;
            object-fit: cover;
        }
    }    
}

.cardmenu{
    width: 100%;
    border-radius: 30px 30px 0 0;
    display:flex;
    flex-flow: column;
    gap: 40px;
    padding-bottom: 40px;
    background-color: $bg-color-light-grey;  
    &__header{
        width: calc(100% - 24px);
        padding: 10px 12px 15px 12px;
        position: absolute;
        top: 280px;
        background-color: $bg-color-light-grey; 
        display: flex;
        justify-content: space-between;
        align-items: center;        
        font-size: $font-size-18;        
        border-radius: 30px 30px 0 0;
        &__title{
            font-family: $font-title;
            font-weight: 400;
            font-style: italic;
            font-size: $font-size-28;
        }        
    }
    &__type{
        display: flex;
        flex-flow: column;
        gap: 8px;
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 10px;
        &__border{
            width: 40px;
            border-bottom: 3px $third-color solid;
        }
        &__tag{
            height: 69px;
            background-color: #FFF;
            display: inline-flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-end;
            gap: 12px;     
            border-radius: 15px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            overflow: hidden;
            @include slidein ();
            &__content{
                width: 90%;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                padding: 15px;
                overflow:hidden;
                &__head{ 
                    width: inherit; 
                    display: flex;
                    flex-flow: column;
                    flex-wrap: nowrap;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;       
                    &__title{
                        width: inherit;
                        font-size: 18px;
                        font-weight:500;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    &__subtitle{
                        width: inherit;
                        font-size: 15px;
                        font-weight:300;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                &__price{
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                }
            }
            &__like{
                margin-right: -50px;  
            }
        }
        &__tag:hover > &__tag__like{
            height: 100%;
            width: 59px;
            color: $color-white;
            background-color: $third-color;
            border-radius: 0 15px 15px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            animation: checkmenu 250ms;
            animation-fill-mode: forwards;
        }      
    }
    &__btn{
        width: 40%;
        margin:auto;
    }
}
