@import 'vars';

/* **************************** */
/*     Réinit. + balise         */
/* **************************** */
*{
    margin: 0;
    padding: 0;
    font-family: $font-text;
}

.main{
    background-color: $bg-color-light-grey;
}
/* **************************** */
/*          Loader              */
/* **************************** */

@keyframes loader-01{
    0%{transform: scale(1) rotate(0deg)}
    50%{transform: scale(0.6) rotate(180deg)}
    100%{transform: scale(1) rotate(360deg)}
}

@keyframes loader-02{
    0%{transform:perspective(4cm) rotateX(45deg)}
    100%{transform:perspective(5cm) rotateY(180deg)}
}

@keyframes loader-text{
    0%{width: 0;}
    100%{width: 100%;}
}

@keyframes stop-loader{
    0%{opacity: 1;}
    50%{opacity: 0.5}
    100%{opacity: 0; visibility: hidden;}
}
.loader_container{
    height: 100%;
    width: 100%;
    background-color: rgba(207, 200, 200, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    animation: 1s ease-out 5s stop-loader forwards;
}
.loader{
    width:80px;
    height: 80px;
    display: flex;
    position: relative;
    background-color: $primary-color;
    border-radius: 15px;
    animation: 2s ease-in-out loader-01 reverse infinite;
    &::after{
        content:"";
        height: 50%;
        width: 50%;
        position: absolute;
        top: -10px;
        left: -10px;
        background-color: $secondary-color;
        border-radius: 15px;
        animation: 2s ease-in-out loader-02 infinite;
    }
    &__text{
        font-size: $font-size-28;
        font-family: $font-title;
        display: inline-block;
        position: relative;
        color: $color-grey;
        text-shadow: 0 0 2px $primary-color, 0 0 1px $secondary-color, 0 0 1px $third-color;
        letter-spacing: 2px;
        box-sizing: border-box;
        
        &::after{
            content: 'Chargement';
            position: absolute;
            left: 0;
            top: 0;
            color: $primary-color;
            width: 100%;
            height: 100%;
            overflow: hidden;
            box-sizing: border-box;
            animation: 2s loader-text alternate-reverse infinite;
        }
    }
}


/* **************************** */
/*         Génériques           */
/* **************************** */
h1{
    font-family: $font-title;
    font-size: $font-size-18;
    font-weight: 400;
    font-style: italic;
}

.margin-right-10{
    margin-right: 0.625rem;
}

.margin-right-16{
    margin-right: 1rem;
}

.section, .container__80{
    display: flex;
    flex-flow: column;
    gap: 1.688rem;
    padding: 0 1.25rem;
}

.btn{
    height: 3.125rem;
    padding: 0.813rem 1.172rem;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-weight: 500;
    color: white;
    word-wrap: break-word;
    border: none;
    &:hover{
        background: linear-gradient(0deg, #9c6bd8 0%, #ff95e1 100%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }
}

/* **************************** */
/*       Contenu mobile         */
/* **************************** */
.body__container{
    display: flex;
    flex-flow: column;
    gap: 1.688rem;
}

.header{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    &__title{
        width: 100%;
        font-size: 2.5rem;
        text-align: center;
    }
    &__localite{
        height: 3.125rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.063rem;
        background-color: $color-light-grey;
        color: $color-grey;
        &__text{
            background-color: transparent;
            border: none;
            font-size: $font-size-18;
            padding-left: 10px;
        }
        &__text:focus{
            outline:0;
        } 
    }  
}

.section__container__cta{
    justify-content: center;
    align-items: center;
    gap: 1.688rem;
    margin: 40px 0;
    &__hook{
        width: 70%;
        text-align: center;
        font-family: $font-text;
        font-style: normal;
        font-weight: 700;
        font-size: 2.5rem;
    }
    &__promess{
        font-size: $font-size-18;
        font-weight: 300;
        text-align: center;
    }
}

.section__container__fonctionnement{
    background-color: #FFF;
    &__80{
        display: flex;
        flex-flow: column;
        gap: 40px;
        padding-top: 1.688rem;
        padding-bottom: 1.688rem;
    }
}

.fonctionnement__card__container{
    display: flex;
    flex-flow: column;
    gap: 30px;
    padding: 0 20px;
}

.fonctionnement__card{
    height: 4.524rem;
    width: calc(100% - 10px);
    padding-left: 1rem;
    padding-right: 0.5rem;
    background-color: $bg-color-light-grey;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.25rem;
    position: relative;
    z-index: 1;
    &__number{
        height: 1.5rem;
        width: 1.5rem;
        background-color: $primary-color;
        color: $color-white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -10px;
        z-index: 2;
    }
    &__icon{
        width: 10%;
        color: $icon-grey;
        font-size:1.125rem;
        text-align: center;
    }
    &__icon--purple{
        color: $primary-color;
    }
    &__text{
        font-weight: 500;
        display: flex;
        flex-grow: 1;
        padding-left: 1rem;
    }
    &__box{
        width: 100%;
        display: flex;
        flex-flow: row;
        overflow: hidden;
        &__icon{
            width: 10%;
            color: $icon-grey;
            font-size:1.125rem;
            text-align: center;
            margin-left: 10px;
        }
        &__icon--purple{
            color: $primary-color;
        }
        &__text{
            font-weight: 700;
            flex-grow: 1;
            padding-left: 1rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size:0.9rem;
        }
    }
}

.section__container__80{
    padding-top: 40px;
}

.container__cards{
    @extend .container__80;
    padding-bottom: 40px;    
}

.card{
    width: calc(100% - 10px);
    display: flex;
    flex-flow:column;
    gap: 20px;
    border-radius: 15px;
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    overflow: hidden;
    &__container{
        border-radius: 15px;
        position: relative;        
    }
    &__box{
        width: 100%;
        height: 231px;
        overflow: hidden;
        position: relative;
        &__img{
            width: 100%;
            height: 100%;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
        }
        &__label{
            position: absolute;
            top: 13px;
            right: 13px;
            padding: 7px 9px;
            font-size: $font-size-14;
            background-color: $third-color;
            color: $color-green-font;
            border-radius: 2px;
        }
    }

    &__content{
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__grouptitle{
            &__title{
                font-size: $font-size-18;
                font-weight: 700;
            }
            &__subtitle{
                font-size: $font-size-17;
                font-weight: 300;
            }
        }
        &__icon:hover:before{
            content:"\f004";
            font-weight: 900;
            transition: 400ms;
            background-image: linear-gradient(180deg, $primary-color, $secondary-color);
            background-size: 100%;
            background-repeat: repeat;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}

.footer{
    color: $color-white;
    background-color: $color-grey;
    padding: 22px 25px 22px 25px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    &__list{
        list-style-type: none;
        display: flex;
        flex-flow: column;
        gap: 8px;
        &__item{
            display: block;
            width: 20px;
            height: 16px;
            &__link{
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

@import 'restaurants';
@import 'responsive';